<a href="https://colab.research.google.com/github/rushdishams/learn-with-rushdi/blob/main/pandas/Pandas%20Interview%203%20-%20Column%20Selection%20Techniques.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn import datasets

In [ ]:
dataset = datasets.load_diabetes()

In [ ]:
df = pd.DataFrame(data=dataset.data,
                  columns=dataset.feature_names)
df.head()

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204
2,0.085299,0.050680,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641

In [ ]:
cols_to_keep = ['age', 'sex', 'bmi', 'bp']
df[cols_to_keep]

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.iloc[:, :4]

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.iloc[:, [0, 1, 2, 3]]

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.loc[:, cols_to_keep]

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.loc[:, ::2]

          age       bmi        s1        s3        s5
0    0.038076  0.061696 -0.044223 -0.043401  0.019907
1   -0.001882 -0.051474 -0.008449  0.074412 -0.068332
2    0.085299  0.044451 -0.045599 -0.032356  0.002861
3   -0.089063 -0.011595  0.012191 -0.036038  0.022688
4    0.005383 -0.036385  0.003935  0.008142 -0.031988
..        ...       ...       ...       ...       ...
437  0.041708  0.019662 -0.005697 -0.028674  0.031193
438 -0.005515 -0.015906  0.049341 -0.028674 -0.018114
439  0.041708 -0.015906 -0.037344 -0.024993 -0.046883
440 -0.045472  0.039062  0.016318 -0.028674  0.044529
441 -0.045472 -0.073030  0.083740  0.173816 -0.004222

[442 rows x 5 columns]

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [ ]:
df.drop(columns=[i for i in df.columns if i not in cols_to_keep],
        axis=1)

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
cols_to_keep

['age', 'sex', 'bmi', 'bp']

In [ ]:
df.take([0, 1, 2, 3], axis=1)

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.filter(cols_to_keep, axis=1)

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.get(cols_to_keep)

          age       sex       bmi        bp
0    0.038076  0.050680  0.061696  0.021872
1   -0.001882 -0.044642 -0.051474 -0.026328
2    0.085299  0.050680  0.044451 -0.005670
3   -0.089063 -0.044642 -0.011595 -0.036656
4    0.005383 -0.044642 -0.036385  0.021872
..        ...       ...       ...       ...
437  0.041708  0.050680  0.019662  0.059744
438 -0.005515  0.050680 -0.015906 -0.067642
439  0.041708  0.050680 -0.015906  0.017293
440 -0.045472 -0.044642  0.039062  0.001215
441 -0.045472 -0.044642 -0.073030 -0.081413

[442 rows x 4 columns]

In [ ]:
df.sort_index(axis=1)

,age,bmi,bp,s1,s2,s3,s4,s5,s6,sex
0,0.038076,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019907,-0.017646,0.050680
1,-0.001882,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068332,-0.092204,-0.044642
2,0.085299,0.044451,-0.005670,-0.045599,-0.034194,-0.032356,-0.002592,0.002861,-0.025930,0.050680
3,-0.089063,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022688,-0.009362,-0.044642
4,0.005383,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031988,-0.046641,-0.044642
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,0.050680
438,-0.005515,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018114,0.044485,0.050680
439,0.041708,-0.015906,0.017293,-0.037344,-0.013840,-0.024993,-0.011080,-0.046883,0.015491,0.050680
440,-0.045472,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044529,-0.025930,-0.044642
441,-0.045472,-0.073030,-0.081413,0.083740,0.027809,0.173816,-0.039493,-0.004222,0.003064,-0.044642

In [ ]:
df.sort_index(axis=1).truncate(before='s1',
                               after='s6',
                               axis=1)

           s1        s2        s3        s4        s5        s6
0   -0.044223 -0.034821 -0.043401 -0.002592  0.019907 -0.017646
1   -0.008449 -0.019163  0.074412 -0.039493 -0.068332 -0.092204
2   -0.045599 -0.034194 -0.032356 -0.002592  0.002861 -0.025930
3    0.012191  0.024991 -0.036038  0.034309  0.022688 -0.009362
4    0.003935  0.015596  0.008142 -0.002592 -0.031988 -0.046641
..        ...       ...       ...       ...       ...       ...
437 -0.005697 -0.002566 -0.028674 -0.002592  0.031193  0.007207
438  0.049341  0.079165 -0.028674  0.034309 -0.018114  0.044485
439 -0.037344 -0.013840 -0.024993 -0.011080 -0.046883  0.015491
440  0.016318  0.015283 -0.028674  0.026560  0.044529 -0.025930
441  0.083740  0.027809  0.173816 -0.039493 -0.004222  0.003064

[442 rows x 6 columns]

In [ ]:
type(df.columns)

pandas.core.indexes.base.Index

In [ ]:
df.columns[1::2]

Index(['sex', 'bp', 's2', 's4', 's6'], dtype='object')

In [ ]:
df.columns

Index(['age', 'sex', 'bmi', 'bp', 's1', 's2', 's3', 's4', 's5', 's6'], dtype='object')

In [ ]:
df_even = df[df.columns[::2]]
df_odd = df[df.columns[1::2]]

In [ ]:
df_even.head()

        age       bmi        s1        s3        s5
0  0.038076  0.061696 -0.044223 -0.043401  0.019907
1 -0.001882 -0.051474 -0.008449  0.074412 -0.068332
2  0.085299  0.044451 -0.045599 -0.032356  0.002861
3 -0.089063 -0.011595  0.012191 -0.036038  0.022688
4  0.005383 -0.036385  0.003935  0.008142 -0.031988

In [ ]:
df_odd.head()

        sex        bp        s2        s4        s6
0  0.050680  0.021872 -0.034821 -0.002592 -0.017646
1 -0.044642 -0.026328 -0.019163 -0.039493 -0.092204
2  0.050680 -0.005670 -0.034194 -0.002592 -0.025930
3 -0.044642 -0.036656  0.024991  0.034309 -0.009362
4 -0.044642  0.021872  0.015596 -0.002592 -0.046641