<a href="https://colab.research.google.com/github/rushdishams/learn-with-rushdi/blob/main/pandas/Pandas%20Interview%206%20-%20Add%20New%20Columns%20to%20Dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

### How to add one or more columns in your dataframe

1. how to add one column in your dataframe
2. how to add more than one columns in your dataframe

In [2]:
import numpy as np

In [3]:
array = np.random.rand(5,5)
df = pd.DataFrame(array)
df

          0         1         2         3         4
0  0.020323  0.393179  0.726197  0.836968  0.994932
1  0.023303  0.361650  0.245881  0.653929  0.273470
2  0.116960  0.715125  0.360868  0.153926  0.313490
3  0.529439  0.817601  0.713824  0.937608  0.755380
4  0.250633  0.373114  0.366262  0.200585  0.972024

In [4]:
df['firstway_a'] = -100

In [5]:
df

          0         1         2         3         4  firstway_a
0  0.020323  0.393179  0.726197  0.836968  0.994932        -100
1  0.023303  0.361650  0.245881  0.653929  0.273470        -100
2  0.116960  0.715125  0.360868  0.153926  0.313490        -100
3  0.529439  0.817601  0.713824  0.937608  0.755380        -100
4  0.250633  0.373114  0.366262  0.200585  0.972024        -100

In [6]:
df['firstway_b'] = -200

In [7]:
df

          0         1         2         3         4  firstway_a  firstway_b
0  0.020323  0.393179  0.726197  0.836968  0.994932        -100        -200
1  0.023303  0.361650  0.245881  0.653929  0.273470        -100        -200
2  0.116960  0.715125  0.360868  0.153926  0.313490        -100        -200
3  0.529439  0.817601  0.713824  0.937608  0.755380        -100        -200
4  0.250633  0.373114  0.366262  0.200585  0.972024        -100        -200

In [10]:
mylist = [i for i in range(100, 600, 100)]
mylist

[100, 200, 300, 400, 500]

In [11]:
df['mylist'] = mylist

In [12]:
df

,0,1,2,3,4,firstway_a,firstway_b,mylist
0,0.020323,0.393179,0.726197,0.836968,0.994932,-100,-200,100
1,0.023303,0.361650,0.245881,0.653929,0.273470,-100,-200,200
2,0.116960,0.715125,0.360868,0.153926,0.313490,-100,-200,300
3,0.529439,0.817601,0.713824,0.937608,0.755380,-100,-200,400
4,0.250633,0.373114,0.366262,0.200585,0.972024,-100,-200,500

In [13]:
df[['secondway_a', 'secondway_b']] = -300, -400

df

,0,1,2,3,4,firstway_a,firstway_b,mylist,secondway_a,secondway_b
0,0.020323,0.393179,0.726197,0.836968,0.994932,-100,-200,100,-300,-400
1,0.023303,0.361650,0.245881,0.653929,0.273470,-100,-200,200,-300,-400
2,0.116960,0.715125,0.360868,0.153926,0.313490,-100,-200,300,-300,-400
3,0.529439,0.817601,0.713824,0.937608,0.755380,-100,-200,400,-300,-400
4,0.250633,0.373114,0.366262,0.200585,0.972024,-100,-200,500,-300,-400

In [14]:
df['thirdway_a'] = df['firstway_a'] * 10
df

,0,1,2,3,4,firstway_a,firstway_b,mylist,secondway_a,secondway_b,thirdway_a
0,0.020323,0.393179,0.726197,0.836968,0.994932,-100,-200,100,-300,-400,-1000
1,0.023303,0.361650,0.245881,0.653929,0.273470,-100,-200,200,-300,-400,-1000
2,0.116960,0.715125,0.360868,0.153926,0.313490,-100,-200,300,-300,-400,-1000
3,0.529439,0.817601,0.713824,0.937608,0.755380,-100,-200,400,-300,-400,-1000
4,0.250633,0.373114,0.366262,0.200585,0.972024,-100,-200,500,-300,-400,-1000

In [15]:
df['thirdway_b'] = df[0] * 100 + df['thirdway_a'] + df['secondway_b']
df

,0,1,2,3,4,firstway_a,firstway_b,mylist,secondway_a,secondway_b,thirdway_a,thirdway_b
0,0.020323,0.393179,0.726197,0.836968,0.994932,-100,-200,100,-300,-400,-1000,-1397.967654
1,0.023303,0.361650,0.245881,0.653929,0.273470,-100,-200,200,-300,-400,-1000,-1397.669742
2,0.116960,0.715125,0.360868,0.153926,0.313490,-100,-200,300,-300,-400,-1000,-1388.303995
3,0.529439,0.817601,0.713824,0.937608,0.755380,-100,-200,400,-300,-400,-1000,-1347.056069
4,0.250633,0.373114,0.366262,0.200585,0.972024,-100,-200,500,-300,-400,-1000,-1374.936663

In [17]:
df[['thirdway_a', 'thirdway_b']] = df['firstway_a'] * 10, df[0] * 100 + df['thirdway_a'] + df['secondway_b']

ValueError: ignored

In [18]:
df = df.assign(thirdway_a = df['firstway_a'] * 10,
               thirdway_b = df[0] * 100 + df['thirdway_a'] + df['secondway_b'])

In [19]:
df

,0,1,2,3,4,firstway_a,firstway_b,mylist,secondway_a,secondway_b,thirdway_a,thirdway_b
0,0.020323,0.393179,0.726197,0.836968,0.994932,-100,-200,100,-300,-400,-1000,-1397.967654
1,0.023303,0.361650,0.245881,0.653929,0.273470,-100,-200,200,-300,-400,-1000,-1397.669742
2,0.116960,0.715125,0.360868,0.153926,0.313490,-100,-200,300,-300,-400,-1000,-1388.303995
3,0.529439,0.817601,0.713824,0.937608,0.755380,-100,-200,400,-300,-400,-1000,-1347.056069
4,0.250633,0.373114,0.366262,0.200585,0.972024,-100,-200,500,-300,-400,-1000,-1374.936663