<a href="https://colab.research.google.com/github/rushdishams/learn-with-rushdi/blob/main/pandas/Pandas%20Interview%202%20-%20loc%20vsiloc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
import pandas as pd

### Difference between `loc` and `iloc

1. `loc` gets rows (and/or columns) with particular labels
2. `iloc` gets rows (and/ or columns) with particular integer locations

In [30]:
# Create a dummy dataframe
df = pd.DataFrame(
    {
        'id': [10, 20, 30, 40, 50],
        'name': ['Alice', 'Bob', 'Charlie', 'David', 'Elon']
    },
  index=[200, 0, 100, 2, 300] 
)
df.head()

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie
2    40    David
300  50     Elon

In [31]:
# Single value for loc
df.loc[100]

id           30
name    Charlie
Name: 100, dtype: object

In [32]:
# Single value for iloc
df.iloc[100]

IndexError: ignored

In [33]:
df.head()

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie
2    40    David
300  50     Elon

In [34]:
# Slice in loc
df.loc[200:100]

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie

In [35]:
# Slice in iloc
df.iloc[200:100]

Empty DataFrame
Columns: [id, name]
Index: []

In [36]:
df.head()

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie
2    40    David
300  50     Elon

In [37]:
# Slice in loc
df.loc[0:200]

Empty DataFrame
Columns: [id, name]
Index: []

In [38]:
# List in loc
df.loc[[200, 300, 2]]

     id   name
200  10  Alice
300  50   Elon
2    40  David

In [39]:
# List in iloc
df.iloc[[0, 4, 2]]

     id     name
200  10    Alice
300  50     Elon
100  30  Charlie

In [40]:
df.head()

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie
2    40    David
300  50     Elon

In [42]:
# Row and column in loc
df.loc[[200, 300, 2], 'name']

200    Alice
300     Elon
2      David
Name: name, dtype: object

In [43]:
# Row and column in iloc
df.iloc[[0, 4, 2], 'name']

ValueError: ignored

In [45]:
# Row and column in iloc
df.iloc[[0, 4, 2], 0:1]

     id
200  10
300  50
100  30

In [47]:
# Row and column in iloc
df.iloc[[0, 4, 2], 1]

200      Alice
300       Elon
100    Charlie
Name: name, dtype: object

In [48]:
# Row and column in iloc
df.iloc[[0, 4, 2], [0, 1]]

     id     name
200  10    Alice
300  50     Elon
100  30  Charlie

In [49]:
# Row and column in iloc
df.iloc[[0, 4, 2], 0:3]

     id     name
200  10    Alice
300  50     Elon
100  30  Charlie

In [50]:
# Full dataframe with loc
df.loc[:, :]

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie
2    40    David
300  50     Elon

In [51]:
# Full dataframe with iloc
df.iloc[:, :]

     id     name
200  10    Alice
0    20      Bob
100  30  Charlie
2    40    David
300  50     Elon

In [52]:
# Add another column
df['salary'] = [1000, 2000, 3000, 4000, 5000]
df.head()

     id     name  salary
200  10    Alice    1000
0    20      Bob    2000
100  30  Charlie    3000
2    40    David    4000
300  50     Elon    5000

In [54]:
# Condition in loc
df.loc[df['salary'] > 2500]

     id     name  salary
100  30  Charlie    3000
2    40    David    4000
300  50     Elon    5000

In [55]:
# Multiple conditions in loc
df.loc[(df['salary'] > 2500) &
       (~df['name'].isin(['Charlie']))]

     id   name  salary
2    40  David    4000
300  50   Elon    5000

In [56]:
df.head()

     id     name  salary
200  10    Alice    1000
0    20      Bob    2000
100  30  Charlie    3000
2    40    David    4000
300  50     Elon    5000

In [57]:
# Resetting index creates a new column with old index
df.reset_index()

   index  id     name  salary
0    200  10    Alice    1000
1      0  20      Bob    2000
2    100  30  Charlie    3000
3      2  40    David    4000
4    300  50     Elon    5000

In [58]:
# Dropping old index as column after resetting index
df = df.reset_index(drop=True)
df.head()

   id     name  salary
0  10    Alice    1000
1  20      Bob    2000
2  30  Charlie    3000
3  40    David    4000
4  50     Elon    5000

In [59]:
# slicing for loc in inclusive
df.loc[0:3]

   id     name  salary
0  10    Alice    1000
1  20      Bob    2000
2  30  Charlie    3000
3  40    David    4000

In [60]:
# slicing for iloc is exclusive
df.iloc[0:3]

   id     name  salary
0  10    Alice    1000
1  20      Bob    2000
2  30  Charlie    3000